<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Deteksi Dini Pengurangan Resiko Bencana">
    <meta name="author" content="DD Arcana 2021">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/logo.png')}}">

    <title>DD Arcana | Deteksi Dini Pengurangan Resiko Bencana</title>

    <!-- vendor css -->
    <link href="{{url_for('static', filename='lib/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/typicons.font/typicons.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='lib/prismjs/themes/prism-vs.css')}}" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashforge.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashforge.landing.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/dashforge.demo.css')}}">

  </head>
  <body class="pos-relative">
    <div id="sidebarMenu" class="sidebar sidebar-fixed sidebar-components">
      <div class="sidebar-header">
        <a href="#" id="mainMenuOpen"><i data-feather="menu"></i></a>
        <h5>Menu</h5>
        <a href="#" id="sidebarMenuClose"><i data-feather="x"></i></a>
      </div><!-- sidebar-header -->
      <div class="sidebar-body">
        <ul class="sidebar-nav">
          <li class="nav-label mg-b-15">DD Arcana</li>
          <li class="nav-item"><a href="#section1" class="nav-link"><i data-feather="layers"></i> Gambaran</a></li>
          <li class="nav-item"><a href="#section2" class="nav-link"><i data-feather="server"></i> Layanan</a></li>
          <li class="nav-item show">
            <a href="" class="nav-link with-sub"><i data-feather="cloud"></i> Prediksi Cuaca Dini</a>
            <nav class="nav">
              <a href="#section4">Manfaat</a>
              <a href="#section5">Coba API</a>
            </nav>
          </li>
          <li class="nav-item show">
            <a href="" class="nav-link with-sub"><i data-feather="alert-octagon"></i> Deteksi Retakan Dini</a>
            <nav class="nav">
              <a href="#section7">Manfaat</a>
              <a href="#section8">Coba API</a>
            </nav>
          </li>
          <li class="nav-item"><a href="#section9" class="nav-link"><i data-feather="crosshair"></i> Tujuan</a></li>
        </ul>
      </div><!-- sidebar-body -->
    </div><!-- sidebar -->
    
    <div class="content content-components" style="margin-right: 50px !important;">
      <div class="container" style="max-width: 950px !important;">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <img class="img-fluid float-right wd-15p pd-10" src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
        <h1 class="df-title" id="section1">DD Arcana</h1>
        <p class="df-lead"><strong>DD Arcana</strong> atau <strong>D</strong>eteksi <strong>D</strong>ini Pengur<strong>a</strong>ngan <strong>R</strong>esiko Ben<strong>cana</strong> merupakan platform yang dikembangkan berbasis aplikasi web dimana pengguna dapat menggunakan 2 layanan yakni Prediksi Cuaca dari Gambar Awan dan Deteksi Retakan pada Beton Asli</p>

        <hr class="mg-y-40">

        <h1 class="df-title" id="section2">Layanan</h1>
        <p class="df-lead"><strong>DD Arcana</strong> atau Deteksi Dini Pengurangan Resiko Bencana memiliki dua layanan berikut:</p>
        <div class="row row-sm">
          <div class="col-md">
            <figure class="img-caption pos-relative mg-b-0">
              <img src="{{url_for('static', filename='img/home-2.jpg')}}" class="img-fluid rounded ht-300" alt="Responsive image">
              <figcaption class="pos-absolute a-0 wd-300 pd-20 d-flex flex-column justify-content-center bg-white-9 transition-base op-0">
                <h6 class="tx-center tx-14 tx-sm-16 tx-inverse tx-semibold mg-b-15 mg-sm-b-20">Prediksi Cuaca Lokal Dini Berdasarkan Gambar Awan Dari Permukaan Bumi</h6>
              </figcaption>
            </figure>
          </div><!-- col -->
          <div class="col-md mg-t-10 mg-md-t-0">
            <figure class="img-caption pos-relative mg-b-0">
              <img src="{{url_for('static', filename='img/home-1.jpg')}}" class="img-fluid rounded ht-300" alt="Responsive image">
              <figcaption class="pos-absolute a-0 wd-300 pd-20 d-flex flex-column justify-content-center bg-black-8 transition-base op-0">
                <h6 class="tx-center tx-14 tx-sm-16 tx-white tx-semibold mg-b-15 mg-sm-b-20">Deteksi Retakan Untuk Permukaan Beton Asli</h6>
              </figcaption>
            </figure>
          </div><!-- col -->
        </div>
        <hr class="mg-y-40">

        <h1 class="df-title">Prediksi Cuaca Dini</h1>
        <p class="df-lead">Prediksi Cuaca Lokal Dini Berdasarkan Gambar Awan Dari Permukaan Bumi</p>

        <h2 id="section4">Manfaat</h2>
        <p>Sebagai peringatan dini lokal</p>
        <p>Sebagai pengumpul data citra awan</p>
        <p>Lebih murah, lebih cepat dan lokal digunakan</p>
        <h2 id="section5">Coba API</h2>
        <form action="/service1" method="POST" enctype="multipart/form-data">
          <div class="row row-sm">
              <div class="col-md custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <div class="col-md-1">
                  <button type="submit" class="btn btn-primary btn-icon">
                    <i data-feather="send"></i>
                  </button>
              </div>
          </div>
        </form>

        <hr class="mg-y-40">

        <h1 class="df-title">Deteksi Retakan Dini</h1>
        <p class="df-lead">Deteksi Retak Untuk Permukaan Beton Asli</p>

        <h2 id="section7">Manfaat</h2>
        <p>Sebagai deteksi dini keretakan</p>
        <p>Lebih cepat dan mudah digunakan</p>
        <p>Membantu tenaga ahli sipil</p>
        <h2 id="section8">Coba API</h2>
        <form action="/service2" method="POST" enctype="multipart/form-data">
          <div class="row row-sm">
              <div class="col-md custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <div class="col-md-1">
                  <button type="submit" class="btn btn-primary btn-icon">
                    <i data-feather="send"></i>
                  </button>
              </div>
          </div>
        </form>

        <hr class="mg-y-40">

        <h1 class="df-title" id="section9">Tujuan</h1>
        <p class="df-lead">Pengurangan risiko bencana merupakan bagian integral dari pembangunan sosial dan ekonomi berkelanjutan di masa depan. Implementasi PRB pada kota cerdas bermanfaat untuk meraih TPB ke-11 mengenai “Kota dan Pemukiman yang Berkelanjutan”. <br>
          Platform yang dikembangkan merupakan salah satu implementasi PRB pada kota cerdas yang sangat potensial di Indonesia.
        </p>

        <div class="row row-sm">
          <div class="col-md">
            <figure class="img-caption pos-relative mg-b-0">
              <img src="{{url_for('static', filename='img/logo-sdgs-04.jpg')}}" class="img-fit-cover" alt="Responsive image">
              <figcaption class="pos-absolute a-0 wd-100p pd-20 d-flex flex-column justify-content-center bg-white-9 transition-base op-0">
                <h6 class="tx-center tx-14 tx-sm-16 tx-inverse tx-semibold mg-b-15 mg-sm-b-20">DD Arcana</h6>
              </figcaption>
            </figure>
          </div><!-- col -->
          <div class="col-md mg-t-10 mg-md-t-0">
            <figure class="img-caption pos-relative mg-b-0">
              <img src="{{url_for('static', filename='img/logo-sdgs-09.jpg')}}" class="img-fit-cover" alt="Responsive image">
              <figcaption class="pos-absolute a-0 wd-100p pd-20 d-flex flex-column justify-content-center bg-black-8 transition-base op-0">
                <h6 class="tx-center tx-14 tx-sm-16 tx-white tx-semibold mg-b-15 mg-sm-b-20">Deteksi Retakan Dini</h6>
              </figcaption>
            </figure>
          </div><!-- col -->
          <div class="col-md">
            <figure class="img-caption pos-relative mg-b-0">
              <img src="{{url_for('static', filename='img/logo-sdgs-11.jpg')}}" class="img-fit-cover" alt="Responsive image">
              <figcaption class="pos-absolute a-0 wd-100p pd-20 d-flex flex-column justify-content-center bg-white-9 transition-base op-0">
                <h6 class="tx-center tx-14 tx-sm-16 tx-inverse tx-semibold mg-b-15 mg-sm-b-20">DD Arcana </h6>
              </figcaption>
            </figure>
          </div><!-- col -->
          <div class="col-md mg-t-10 mg-md-t-0">
            <figure class="img-caption pos-relative mg-b-0">
              <img src="{{url_for('static', filename='img/logo-sdgs-13.jpg')}}" class="img-fit-cover" alt="Responsive image">
              <figcaption class="pos-absolute a-0 wd-100p pd-20 d-flex flex-column justify-content-center bg-black-8 transition-base op-0">
                <h6 class="tx-center tx-14 tx-sm-16 tx-white tx-semibold mg-b-15 mg-sm-b-20">Prediksi Cuaca Dini</h6>
              </figcaption>
            </figure>
          </div><!-- col -->
        </div>
        <!-- <div class="row row-sm">
          <div class="col-md"><p class="tx-center mg-t-10">Royalty free means you just need to pay for rights to use the item once per end product. You don't need to pay additional or ongoing fees for each person who sees or uses it.</p></div>
          <div class="col-md"><p class="tx-center mg-t-10">Royalty free means you just need to pay for rights to use the item once per end product. You don't need to pay additional or ongoing fees for each person who sees or uses it.</p></div>
          <div class="col-md"><p class="tx-center mg-t-10">Royalty free means you just need to pay for rights to use the item once per end product. You don't need to pay additional or ongoing fees for each person who sees or uses it.</p></div>
          <div class="col-md"><p class="tx-center mg-t-10">Royalty free means you just need to pay for rights to use the item once per end product. You don't need to pay additional or ongoing fees for each person who sees or uses it.</p></div>
        </div> -->
        <footer class="content-footer">
          <div>
            <span>&copy; 2021 DD Arcana v1.0.0. </span>
            <span>Made by <strong>Team 4 Impulse 2021</strong></span>
          </div>
        </footer><!-- content-footer -->

      </div><!-- container -->
    </div><!-- content -->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/feather-icons/feather.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/perfect-scrollbar/perfect-scrollbar.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/prismjs/prism.js')}}"></script>

    <script src="{{url_for('static', filename='js/dashforge.js')}}"></script>
    <script>
      $(document).ready(function() {
        'use strict'

        $('[data-toggle="tooltip"]').tooltip();
        bsCustomFileInput.init()

      });
    </script>
    <script>
      $(function(){
        'use strict'

        $('.img-caption').on('mouseover mouseout', function(){
          $(this).find('figcaption').toggleClass('op-0');
        });

      });
    </script>
  </body>
</html>
